# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Machine Learning Weights
*.pt
*.pth

# Large Generated and Raw Media
*.mp4
test_frames/

# Virtual Environments
venv/
env/
.env
.venv
myenv/

# IDE files
.vscode/
.idea/
.DS_Store
